body{
  background-color:rgb(228, 225, 225)
  
}

li{
  list-style:none;
  display:inline-block;
  padding:30px;
  color:rgb(25, 35, 187);
  margin-top:110px;
  
}

.product{
  margin: 31px;
  border: 1px solid black;
  text-align:center;
  display:inline-block;
  width:260px;
  height:200px;
  

  
}

.users{
  margin: 50px;
}
.button1{
  margin-top: 0px;
  padding:5px;
}
.buttoni{
  background-color:rgb(6, 4, 100);
  color: white;
  cursor: pointer;
  display:flex;
  margin-left: 65px;
  width:120px;
  
  
  
}


a{
  text-decoration: none;
  color:rgb(25, 35, 187);
}
h2{
  text-align: center;
  color:orange;
  margin-top: -60px;
}
hr{
  
  width:1912px;
  margin-top:100px;
  position:absolute;
  background-color:black;
  height:1px;
  margin-left:3px;


}
li a h2{
  position:relative;
}
img{
  width:40px;
  position:absolute;
  overflow:hidden;
  border-radius:10px;
  margin-left:100px;
}
.shpic{
  margin-left: 1500px;
  position:absolute;
  cursor:pointer;

}
.fav{
  margin-left: 1600px;
  position:absolute;
  margin-top: 8px;
  cursor:pointer;
}
.profile{
  margin-left: 1700px;
  position:absolute;
  margin-top: 2px;
  width:60px;
  cursor:pointer;
}
#profile1{
  width:50px;
}

